APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=Capstone
DB_USERNAME=root
DB_PASSWORD=

SANCTUM_STATEFUL_DOMAINS=localhost

FRONTEND_URL=http://localhost

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

#SMTP mail
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

#API mail
MAILTRAP_API_KEY=
MAILTRAP_SANDBOX=true
MAILTRAP_INBOX_ID=

SMS_ENABLED=true
SMS_WHITELIST=

CLICKSEND_USERNAME=
CLICKSEND_API_KEY=

CLICKSEND_FALLBACK_USERNAME=
CLICKSEND_FALLBACK_API_KEY=

CLICKSEND_FALLBACK2_USERNAME=
CLICKSEND_FALLBACK2_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_SNS_SENDER_ID=
AWS_SNS_SMS_TYPE=Transactional
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

MAYA_BASE=https://pg-sandbox.paymaya.com
MAYA_PUBLIC_KEY=
MAYA_SECRET_KEY=
MAYA_PAYBY_CREATE_PATH=/payby/v2/paymaya/payments
MAYA_STATUS_PATH=/payments/v1/payments/{id}/status
MAYA_SUCCESS_URL=${APP_URL}/patient
MAYA_FAILURE_URL=${APP_URL}/patient
MAYA_CANCEL_URL=${APP_URL}/patient